* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


/*BODY STYLE*/
body {
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
}


/*HEADER STYLE*/
header {
    height: 100px;
    color:white;
    font-size: 70px;
    text-align: center;
}


/*MAIN STYLE*/ 
main {
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 30px;
    height: 200px;
}

.cards {
    width: calc(1000px/4 - 80px);
    height: 100%;
    margin-right: 20px;
    border-radius: 10px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
    float: left;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.row .cards:last-child {
    margin-right: 0;
}

.effetto {
    width: 100%;
    height: 100%;
    padding: 30px 30px 50px;
    border-radius: 10px;
    background-color: white;
    visibility: hidden;
}

.img-hidden {
    width: 100%;
    height: 100%;
}

.cards:hover .effetto {
    visibility: visible;
}

.text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bicycle {
    color: rgba(44, 170, 44, 0.973);
}

.ballon {
    color: #e61986;
}

.tractor {
    color: #e67919;
}

.submarine {
    color: rgb(8, 8, 126);
}

.cruise {
    color: rgb(0, 206, 206);
}

.tram {
    color: rgba(180, 5, 5, 0.877);
}

/*STILE FOOTER*/ 
footer {
    height: 50px;
    font-size: 25px;
    text-align: center;
}